<div>
	<div class="row-fluid">
		<div class="span4">
			<label class="small">URL</label> <input type="text" class="input-medium input-block-level" ng-model="panel.url" ng-change="render()" ng-model-onblur/>
		</div>
		<div class="span1">
			<label class="small">Label Field</label> <input type="text" class="input-mini" ng-model="panel.labelField" ng-change="render()" ng-model-onblur/>
		</div>
		<div class="span1">
			<label class="small">Data Field</label> <input type="text" class="input-mini" ng-model="panel.dataField" ng-change="render()" ng-model-onblur/>
		</div>
	</div>
</div>